<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload document</title>
</head>

<body>

    <div>
        <form enctype="multipart/form-data" method="post">
            <label>Департамент:</label>
            <select name = "department">
                <option th:each="option : ${departments}" th:value="${option.id}" th:text="${option.name}"></option>
            </select>
            <label>Файл:</label>
            <input type="file" name="file">
            <input type="submit" value="Загрузить">
        </form>
    </div>

</body>
</html>